@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;300&display=swap");

body {
  margin: 0;
  font-family: "IBM Plex Sans KR", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e1eef6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
